<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hayo haya</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
 <script src="lib/ngmap/ng-map.min.js"></script>
  <script src="app.js"></script>
  <script src="scripts/controllers/worldMapController.js"></script>
  <script src="scripts/service/worldMapService.js"></script>


  <script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
  </script>
</head>
<body ng-app="app">

  <div class="container">
    <div class="jumbotron">
      <h1 class="title">Hayo Haya</h1>
      <div ng-controller="worldMapController as vm">
        <h2 class="inline">בחר שנה בהיסטוריה</h2>  <md-datepicker class="inline" ng-model="date"></md-datepicker>
        <md-slider-container>
        <md-slider flex min="0" max="2016" ng-model="year" aria-label="red" id="red-slider">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="year" aria-label="red" aria-controls="red-slider">
        </md-input-container>

      </md-slider-container>



        <ng-map zoom="{{vm.map.zoom}}" center="{{vm.map.center}}" on-click="vm.setCenter(event)">

            <marker position="{{vm.marker.pos}}" on-click="">

            </marker>
            <shape name="circle" radius="400" center="{{vm.marker.pos}}" />

          <control name="overviewMap" opened="true" />
        </ng-map>
      </div>
    </div>
  </div>

<!-- Load up the router library - normally you might use npm and host it locally -->

</body>
</html>

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->