<md-dialog aria-label="Add lesson">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add lesson</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content">
            <form ng-submit="$event.preventDefault()" name="addForm">
                <md-input-container flex>
                    <label>Subject</label>
                    <input ng-model="vm.lesson.name" type="text"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Price</label>
                    <input name="price" ng-model="vm.lesson.price" placeholder="20"/>


                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Description</label>
                    <textarea ng-model="vm.lesson.description" ></textarea>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Hours</label>
                    <input type="number" ng-model="vm.lesson.hours" />
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button aria-label="Finished" ng-click="vm.finish($event)">Add</md-button>
    </md-dialog-actions>
</md-dialog>

<!--<div ng-messages="addForm.price.$error" role="alert" multiple>-->
    <!--<div ng-message="required" class="my-message">You must supply a price.</div>-->
    <!--<div ng-message="pattern" class="my-message">That doesn't look like a valid price.</div>-->
    <!--<div ng-message="md-maxlength" class="my-message">-->
        <!--Maximum 5 digits!-->
    <!--</div>-->
<!--</div>-->