.bucket-container {
	display: inline-block;
	width: 30%;
	margin-left: 6%;
	vertical-align: middle;
}

.bucket {
	display: inline-block;
	overflow: scroll;
	float: left;
	margin-right: 50%;
	border: 2px solid black;
	height: 600px;
	width: 300px;
}