.bucket-container {
	display: inline-block;
	width: 30%;
	margin-left: 6%;
	vertical-align: middle;
}

.bucket {
	display: inline-block;
	overflow: scroll;
	float: left;
	margin-right: 50%;
	border: 2px solid black;
	height: 600px;
	width: 375px;
	background-color: whitesmoke;
}

.add-label {
	text-decoration: bold;
}

.add {
	width: 10%;
	margin-top: 1%;
	margin-left: 62%;
	pointer: cursor;
}

.bucket::-webkit-scrollbar {
	width: 12px;
}

.bucket::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.bucket::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}