<md-card class="md-card-root" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
    <md-card-title layout-align="end">
        <md-card-title-text>
            <span class="md-headline" ng-model="modelName">{{privateLesson.name}}</span>
            <div>
                <span class="md-subhead card-metadata">{{privateLesson.description}}</span>
                <span class="md-subhead card-metadata">Price :
                    <span class="glyphicon glyphicon-usd"></span>
                    {{privateLesson.price}}
                </span>
                <span class="md-subhead card-metadata">Hours :
                    <span class="glyphicon glyphicon-time"></span>
                    {{privateLesson.hours}}
                </span>
            </div>
        </md-card-title-text>
        <md-card-title-media class="card-title-media" ng-mouseenter="showStars = true"
                             ng-mouseleave="showStars = false">
            <div class="md-media-sm">
                <img ng-src="{{privateLesson.teacher.picture}}" class="img-circle img-thumbnail">
            </div>
            <!--                        <md-tooltip md-direction="left">
                                        {{privateLesson.publisher.name}}
                                        <star-rating stars="5" outer-star-selection="stars" outer-percent="rating" rating-percent="50" star></star-rating>
                                    </md-tooltip>-->
            <star-rating class="transparent" ng-show="showStars" rating="{count:345, value: 2.9}"></star-rating>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-button class="md-raised md-warn" id="register-to-lesson" ng-click="registerToLesson()">
            <span class="glyphicon glyphicon-pencil"></span>
            Register
        </md-button>
    </md-card-actions>
</md-card>